$primary: #0575E6;
$danger: #CC2936;
$modal-content-width: 500px;
@import "bulma/bulma";
.table {
  display: inline-block;
  border-spacing: 0;
  border-collapse: collapse;
  overflow-x: auto;
  max-width: 100%;
  overflow: visible;
  text-align: left;
  vertical-align: top;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) 0 0, -webkit-linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) 100% 0;
  background: linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) 0 0, linear-gradient(rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%) 100% 0;
  background-attachment: scroll, scroll;
  background-size: 1px 100%, 1px 100%;
  background-repeat: no-repeat, no-repeat;
}

.thead {
  display: table-header-group;
  vertical-align: middle;
  border-top-color: inherit;
  border-right-color: inherit;
  border-bottom-color: inherit;
  border-left-color: inherit;
}

.tbody {
  display: table-row-group;
  vertical-align: middle;
  border-top-color: inherit;
  border-right-color: inherit;
  border-bottom-color: inherit;
  border-left-color: inherit;
}

.tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-top-color: inherit;
  border-right-color: inherit;
  border-bottom-color: inherit;
  border-left-color: inherit;
}

.tr {
  display: table-row;
  vertical-align: inherit;
  border-top-color: inherit;
  border-right-color: inherit;
  border-bottom-color: inherit;
  border-left-color: inherit;
}

.td,
.th {
  display: table-cell;
  padding: .35em .75em;
  vertical-align: top;
  font-size: .9em;
  border: 1px solid #f2f2f2;
  border-left: 0;
  &:first-child {
    background-image: -webkit-linear-gradient(left, white 50%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%);
    background-size: 2px 100%;
    background-repeat: no-repeat;
  }
  &:last-child {
    background-image: -webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
    background-position: 100% 0;
    background-size: 2px 100%;
    background-repeat: no-repeat;
  }
  &:only-child {
    background-image: -webkit-linear-gradient(left, white 50%, rgba(255, 255, 255, 0) 100%), -webkit-linear-gradient(right, white 50%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(to right, white 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(to left, white 50%, rgba(255, 255, 255, 0) 100%);
    background-position: 0 0, 100% 0;
    background-size: 2px 100%, 2px 100%;
    background-repeat: no-repeat, no-repeat;
  }
}

.td_editing {
  padding: 0;
  position: relative;
  .td-editingspan {
    padding: .35em .75em;
  }
  .input {
    position: absolute;
    left: -1px;
    right: -1px;
    top: -1px;
    bottom: -1px;
    width: auto;
    max-width: none;
    font-size: inherit;
    padding: calc(.35em + 1px) calc(.75em + 1px);
    border: none;
    box-shadow: rgba(84, 70, 35, 0.298039) 0px 6px 20px, rgba(84, 70, 35, 0.137255) 0px 1px 3px, rgba(0, 0, 0, 0.0784314) 0px 0px 1px;
    height: auto;
  }
}

.th {
  color: rgb(153, 153, 153);
}

.card-header-icon {
  cursor: default;
}

.menu {
  padding: 1em;
  width: 260px;
}

.menu_between {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.menu-list a.is-vertical-center {
  display: flex;
  align-items: center;
}

.menu-list a .icon {
  margin-left: 0.5em;
}

.is-fullheight {
  height: 100vh;
}

.pointer {
  cursor: pointer;
}

.mr {
  margin-right: 0.5em;
}

.mt {
  margin-top: 1.5em;
}
